.experience-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* background-color: lightblue; */
  background: url("../components/img/3.png");
  width: 100%; 
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.experience-box {
  background-color: #ffffff;
  border: 2px solid #bcd4e6;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: left;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.experience-box:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 150px;
}

.experience-company {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 8px 0;
}

.experience-date {
  font-size: 0.8rem;
  color: #4a5568;
  margin-bottom: 8px;
}

.experience-jobTitle {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 8px 0;
}

.experience-description {
  margin-top: 8px;
  padding-left: 15px;
  list-style-type: disc;
  color: black;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .experience-container {
    gap: 10px;
    padding: 10px;
  }

  .experience-box {
    width: 100%;
    max-width: none;
  }

  .experience-company {
    font-size: 1.2rem;
  }

  .experience-jobTitle {
    font-size: 0.9rem;
  }

  .experience-description {
    font-size: 0.8rem;
  }

  .experience-image {
    width: 70%;
  }
}
