.footer {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height:200px;
}

.footer-message {
  font-size: 100px;
  color: #333;
}

.footer-content {
  display: flex;
  align-items: center;
}
.footer-socials img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
  margin:30px;
}

.footer-socials img:hover {
  transform: scale(1.2);
}
