* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: lightblue;
  text-align: center;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  width: 100vw;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1; 
  padding: 1.25rem; 
  gap: 1.25rem; 
  text-align:center;
}

.hero-content {
  flex-flow: row wrap;
}

.hero-text {
  flex: 1;
  text-align: center;
}

.hero img {
  max-width: 12.5rem;
}

.hero-skills {
  margin-top: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-skills .skills-box {
  background-color: #5d4037;
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  text-align: center;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 1.15rem;
}

.hero p {
  font-size: 1em;
  margin-bottom: 2rem;
}
.hero h3{
  font-size:0.9em;
  margin-bottom:1rem;
}

@media (min-width: 768px) {
  .hero {
    padding: 50px;
  }

  .hero-content {
    flex-direction: row;
  }

  .hero-text {
    text-align: left;
  }

  .hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .hero button {
    padding: 15px 30px;
  }
  
}



@media (max-width: 768px) {
  .hero-container {
    flex-direction: column; 
    gap: 10px;
    padding: 10px;
  }

  .hero img {
    max-width: 150px;
  }

  .hero-socials img {
    width: 60px;
    height: 60px;
  }

  .hero h1 {
    font-size: 1.5em;
  }

  .hero p {
    font-size: 0.9em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-container {
    flex-direction: row;
    gap: 15px;
  }

  .hero-text {
    flex: 1;
  }

  .hero img {
    max-width: 180px;
  }

  .hero-socials {
    justify-content: center;
  }

  .hero-socials img {
    width: 70px; 
    height: 70px;
  }

  .hero h1 {
    font-size: 2em; 
  }

  .hero p {
    font-size: 1em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero-container {
    flex-direction: row;
    gap: 20px;
    padding: 30px;
  }

  .hero-text {
    flex: 1.2;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .hero p {
    font-size: 1.1em;
  }
}

@media (min-width: 1441px) {
  .hero-container {
    max-width: 1200px; 
    margin: 0 auto; 
  }

  .hero-text {
    flex: 1; 
  }

  .hero h1 {
    font-size: 3em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .hero img {
    max-width: 220px;
  }
}

