@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.projects-container {
  display: flex;
  font-family: poppins;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  background:#ffffff;
  align-items:center;
}

.project-card {
  display: flex;
  align-items: center;
  padding: 20px;
  background:#ffffff;
  width:1200px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.left-image {
  flex-direction: row;
}

.right-image {
  flex-direction: row-reverse;
}

.project-image-container {
  width: 400px;
  height: 100%;
  margin: 0px;
  overflow: visible;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1); /* Increased shadow size */
}

.project-content {
  flex: 1;
  padding: 10px 30px;
}

.project-title {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.technologies-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Adjusted styles for better alignment */
.project-technologies {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-technologies li {
  display: inline-block;
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.social-links {
  display: flex;
  gap: 10px;
}


.social-icon img {
  max-width: 30px;
  max-height: 30px;
}


.project-description {
  list-style: disc;
  padding-left: 20px;
  color: rgb(109, 109, 109);
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .project-card {
    flex-direction: column;
    text-align: center;
  }
  .left-image, .right-image {
    flex-direction: column;
  }
  .project-image-container {
    width: 250px;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    text-align: center;
  }
  .left-image, .right-image {
    flex-direction: column;
  }
  .project-image-container {
    width: 200px;
    margin: 10px auto;
  }
  .project-content {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .project-card {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .left-image, .right-image {
    flex-direction: column;
  }
  .project-image-container {
    width: 150px;
    margin: 10px auto;
  }
  .project-content {
    padding: 5px;
  }
  .project-title {
    font-size: 1.2rem;
  }
  .project-technologies li {
    font-size: 0.8rem;
  }
  .project-description {
    font-size: 0.9rem;
  }
}