
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Signika Negative', sans-serif, Arial;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 1rem;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  will-change: transform;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-section {
  display: flex;
  width: 100%;
}

.horizontal-panel {
  width: 100vh;
  flex: 1 0 100%;
}
