.skills-container {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding:0;
  /* background-color: lightblue; */
}

.skills-section {
  width: 100%;
  display: block; 
}

.coding-languages,
.technologies {
  display: flex; 
  flex-wrap: wrap;   
  gap: 10px;
  justify-content: center; 
}

.coding-languages img,
.technologies img {
  max-width: 100px;
  height: auto;
  background-color: #666666;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.coding-languages img:hover,
.technologies img:hover {
  transform: scale(1.10);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
  .coding-languages img,
  .technologies img {
    max-width: 90px;
  }
}

@media (max-width: 768px) {
.coding-languages img,
  .technologies img {
    max-width: 80px;
  }
}

@media (max-width: 500px) {
  .coding-languages img,
  .technologies img {
    max-width: 50px;
  }
}
