.cursor-text {
  position: fixed;
  background: #f5d07f;
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  pointer-events: none;
  white-space: nowrap;
  z-index: 9999;
  transition: transform 0.1s ease-out, opacity 0.2s ease;
}



@media (hover: none), (max-width: 768px) {
  body { cursor: auto; }
  .custom-cursor { display: none !important; }
}
