@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.skills-container {
  display: flex;
  font-family: poppins;
  flex-direction: column;
  background-color: #222;
  align-items: center;
}

.skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-category h3 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: white;
}
.skill-item {
  border: 1px solid #cfcfcf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  background-color: #555;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling and shadow */
}

.skill-item:hover {
  transform: scale(1.1); /* Expands the element by 10% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  transition: transform 0.5s ease;
}

.skill-label {
  position: absolute;
    font-family: "Space Grotesk", sans-serif;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 50% opacity background */
  color: white;
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0 0 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skills-box img {
  max-width: 80px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.5s ease;
}

.skills-item:hover img {
  transform: scale(1.15);
}

@media (max-width: 1200px) {
  .skills-box img {
    max-width: 90px;
  }
}

@media (max-width: 768px) {
  .skills-box img {
    max-width: 80px;
  }
}

@media (max-width: 500px) {
  .skills-box img {
    max-width: 50px;
  }
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
}

